{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1" style="max-width: 900px;">
  <h1 class="my-4">{% trans "Update user" %}</h1>
    <form action="{% url 'users:update' user.pk %}" method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="{% trans 'Update' %}">
    </form>

  <h4 class="my-4">{% trans "Delete user" %}</h4>
  <a href="{% url 'users:delete' user.id %}" class="btn btn-danger">
    {% trans 'Delete profile' %}
  </a>
</div>
{% endblock %}